@import "../../styles/";

.popover {
	position: relative;

	&__content {
		position: absolute;
		left: 50%;
		top: 50px;
		background-color: $white;
		border-radius: $borderRadius-2;
		box-shadow: 0 0px 48px -22px $darkGrey;
		z-index: 4;
		transition: all $transition, left 0s;
		opacity: 0;
		transform: translate(-50%, $space-1);

		&__arrow {
			display: block;
			position: absolute;
			left: 50%;
			top: -10px;
			transform: translateX(-50%) rotate(45deg);
			width: 25px;
			height: 25px;
			background-color: $white;
		}

		&--show {
			opacity: 1;
			transform: translate(-50%, $space-3);
		}
	}

	&__contentContainer {
		position: relative;
		z-index: 2;
	}
}
