$transitionDuration: 270ms;
$transitionDurationSlow: 370ms;
$transitionDurationFast: 200ms;
$transitionTimingFunction: cubic-bezier(0.86, 0, 0.07, 1);

$transition: $transitionDuration $transitionTimingFunction;
