// Brand Colors
$primaryColor: #015dab;

$primaryColor-8: #0170cd;
$primaryColor-6: #0186f6;
$primaryColor-4: #02a1ff;
$primaryColor-2: #02c1ff;
$primaryColor-1: #ebf3ff;

$secondary: #5dc2b9;

$secondary-8: #66d5cb;
$secondary-6: #70ebe0;
$secondary-4: #c7fef9;
$secondary-2: #dbffff;

// Natural Colors            Also Know as
$white: #fff;
$superDarkGrey: #2c3131; // Black 100
$darkGrey: #626262; // Black 80
$grey: #a9a9a9; // Black 60
$lightGrey: #cacaca; // Black 40
$superLightGrey: #e9e9e9; // Black 20

// Utility Colors
$danger: #fe6b6b;
$info: #2685ca;
$success: #62b96f;
$warning: #ffdc97;

// Backgrounds
$bg-0: #f1ffff;
