// Brand Colors
$primaryColor : #015DAB;

$primaryColor-8 : #0170CD;
$primaryColor-6 : #0186F6;
$primaryColor-4 : #02A1FF;
$primaryColor-2 : #02C1FF;
$primaryColor-1 : #EBF3FF;

$secondary : #5DC2B9;

$secondary-8 : #66D5CB;
$secondary-6 : #70EBE0;
$secondary-4 : #C7FEF9;
$secondary-2 : #DBFFFF;



// Natural Colors            Also Know as 
$white : #fff;
$superDarkGrey : #2C3131; // Black 100
$darkGrey : #626262; // Black 80
$grey : #A9A9A9; // Black 60
$lightGrey : #CACACA; // Black 40
$superLightGrey : #E9E9E9; // Black 20



// Utility Colors
$danger : #FE6B6B;
$info : #2685CA;
$success : #62B96F;
$warning : #FFDC97;

// Backgrounds
$bg-0 : #F1FFFF;