$persianFontFamily : "iranyekan";
$englishFontFamily : "somethings";


$fontSize-xs    : .75rem;  // 12px
$fontSize-sm    : .875rem; // 14px
$fontSize-base  : 1rem;  //16px
$fontSize-lg    : 1.25rem; // 18px
$fontSize-xl    : 1.5rem;  //24px

// Heading font size
$h-1 : 5rem;    // 22px
$h-2 : 3.5rem;  //22px
$h-3 : 2.75rem; // 16px

// Font Weights
$fw-light   : 300;
$fw-medium  : 500;
$fw-bold    : 700;