@import "../../styles";

.spinner {
	display: flex;
	align-items: center;
	justify-content: center;

	&--white {
		svg path {
			fill: $white;
		}
	}

	&--dark {
		svg path {
			fill: $primaryColor-6;
		}
	}

	&--disabled {
		svg path {
			fill: $grey;
		}
	}

	&--rotate {
		svg {
			@include rotateAnimation($transitionDurationNormal);
		}
	}
}
