@import "../../styles/";


.breadcrumbItem {
    margin: 0 $space-3;
    font-size: $fontSize-sm;
    color: $grey;
    cursor: pointer;
    transition: $transitionDurationFast;
    user-select: none;


    &:hover {
        color : $superDarkGrey;
    }

    &--isActive {
        color: $superDarkGrey;
    }
}