@import "../../styles/";

.textInput {
	display: flex;
	flex-direction: column;
	direction: rtl;
	margin: $space-4 0;
	position: relative;

	input {
		width: 100%;
		padding: $space-3 $space-4;
		font-family: $persianFontFamily;
		transition: $transition;
		border: none;
		outline: none;
		caret-color: $primaryColor-6;
		position: relative;
		z-index: 1;

		&::placeholder {
			color: $white;
			transition: $transitionDurationFast;
		}

		&:focus {
			&::placeholder {
				color: $grey;
			}
		}
	}

	&__label {
		position: absolute;
		right: $space-4;
		top: 50%;
		z-index: 1;
		color: $darkGrey;
		display: flex;
		align-items: center;
		transition: $transitionDurationFast;
		user-select: none;
		min-width: 90%;
		transform: translateY(-50%);
		cursor: text;

		&--active {
			font-size: $fontSize-sm;
			background-color: transparent;
			top: -50%;
			right: $space-1;
		}
	}

	&__container {
		display: flex;
		width: 100%;
		border: 2px solid $lightGrey;
		border-radius: $borderRadius;
		background-color: $white;
		transition: $transitionDurationFast;
	}

	&__errorMessage {
		color: $danger;
		margin-top: -$space-5;
		transition: $transition;
		opacity: 0;
		display: flex;
		align-items: center;
		font-size: $fontSize-sm;
		margin-right: $space-1;

		svg {
			margin-left: $space-1;
		}
	}

	&__startEnhancer {
		margin-left: $space-2;
	}

	&__endEnhancer {
		margin-right: $space-2;
	}

	&--enhanced {
		input {
			padding: $space-3 0;
		}
	}

	&--small {
		label {
			font-size: $fontSize-sm;
		}

		input {
			font-size: $fontSize-xs;

			&::placeholder {
				font-size: $fontSize-xs;
			}
		}
	}

	&--medium {
		input {
			font-size: $fontSize-base;

			&::placeholder {
				font-size: $fontSize-base;
			}
		}
	}

	&--large {
		label {
			font-size: $fontSize-lg;
		}
		input {
			font-size: $fontSize-lg;

			&::placeholder {
				font-size: $fontSize-lg;
			}

			&:focus {
				& ~ label {
					font-size: $fontSize-base;
				}
			}
		}
	}

	&--focus {
		.textInput {
			&__container {
				border-color: $primaryColor-6;
			}
		}
	}

	&--error {
		input {
			border-color: $danger;
		}

		.textInput {
			&__container {
				border-color: $danger;
			}

			&__errorMessage {
				opacity: 1;
				margin-top: $space-2;
			}
		}
	}
}
