@import "../../styles/";

.passwordInput {
	margin: $space-4 0;

	&__inputContainer {
		display: flex;
		position: relative;
		width: 100%;

		input {
			@include extendInputBaseStyle;
			width: 100%;
		}
	}

	&__showPassTrigger {
		position: absolute;
		left: 10px;
		top: 50%;
		z-index: 2;
		display: flex;
		align-content: center;
		transform: translateY(-50%);
		cursor: pointer;
		padding: $space-2;
		user-select: none;

		svg {
			transition: $transition;
			fill: $superDarkGrey;
		}

		&--showPass {
			svg {
				fill: $primaryColor;
			}
		}
	}

	&__validateRequiredContainer {
		width: 90%;
		margin: 0 auto;
		margin-top: $space-2;
		transition: $transitionDurationFast;
		max-height: 0;

		&--open {
			max-height: 100px;
		}
	}

	&__validateReqRow {
		display: flex;
		align-items: center;
		margin: $space-1 0;
		color: $darkGrey;
		font-size: $fontSize-xs;
		transition: $transitionDurationFast;
		margin-top: -10px;
		opacity: 0;

		svg {
			margin-left: $space-2;
		}

		&--show {
			margin: $space-1 0;
			opacity: 1;
		}
	}

	&--error {
		.passwordInput {
			&__inputContainer input {
				border-color: $danger;
			}
		}
	}
}
