@import "../../styles/";

.checkBoxItem {
	display: flex;
	align-items: center;

	svg {
		fill: $white;
		width: 12px;
		height: 12px;
		transition: $transitionDurationFast;
		opacity: 0;
		margin-top: $space-2;
	}

	&__input {
		width: 20px;
		height: 20px;
		border-radius: $borderRadius;
		border: 2px solid $primaryColor;
		transition: $transitionDurationFast;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		input {
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			margin: 0;
			z-index: 1;
			cursor: pointer;
		}
	}

	&__details {
		margin-right: $space-2;
		user-select: none;

		p {
			cursor: pointer;
		}

		span {
			font-size: $fontSize-sm;
			color: $grey;
			margin-top: $space-2;
		}
	}

	&--isChecked {
		.checkBoxItem__input {
			background-color: $primaryColor;
		}

		svg {
			opacity: 1;
			margin-top: 0;
		}
	}

	&--haveDesc {
		align-items: flex-start;

		.checkBoxItem__input {
			margin-top: $space-1;
		}
	}

	&--isDisabled {
		.checkBoxItem {
			&__input {
				background-color: $superLightGrey;
				border-color: $lightGrey;
				cursor: default;

				input {
					cursor: default;
				}
			}

			&__details {
				p {
					cursor: default;
					color: $grey;
				}
				span {
					color: $lightGrey;
				}
			}
		}

		&.checkBoxItem--isChecked {
			.checkBoxItem__input {
				background-color: $lightGrey;
				border-color: $grey;
			}
		}
	}
}
