@font-face {
    font-family: $persianFontFamily;
    src: url("../../assets/font/iranyekanweblightfanum.woff") format("woff");
    font-weight: $fw-light;
}

@font-face {
    font-family: $persianFontFamily;
    src: url("../../assets/font/iranyekanwebregularfanum.woff") format("woff");
    font-weight: $fw-medium;
}

@font-face {
    font-family: $persianFontFamily;
    src: url("../../assets/font/iranyekanwebboldfanum.woff") format("woff");
    font-weight: $fw-bold;
}